{% extends "makers_home_app/base.html" %}
{% block content %}
	
	<div class="acc_number">
		<h2 class=" text-capitalize "> hi, {{user.username}}</h2>
		<p>
			Your request to be subscribed to our “Monthly Membership Plan” is under proccess,
			to complete your subscription, pay a total amount of 30,000 Naira only, to one of the account
			numbers listed bellow!  
		</p>

		<p>
			If payment does not reflect on your dashboard withing 24 hours be sure to <a href="">contact us </a> 
		</p>

		<div class="row">
			<div class="col-6">
				<p>
						 <ul class="list-group text-uppercase ">
							<li class=" list-group-item">
								Account name: ****************
							</li>
							<li class=" list-group-item">
								Account number: *************
							</li>
							<li class=" list-group-item">
								Bank: ****************
							</li>
						</ul>
					</p>

					<p>
						 <ul class="list-group text-uppercase">
							<li class=" list-group-item">
								Account name: ****************
							</li>
							<li class=" list-group-item">
								Account number: *************
							</li>
							<li class=" list-group-item">
								Bank: ****************
							</li>
						</ul>
					</p>

					<p>
						 <ul class="list-group text-uppercase">
							<li class=" list-group-item">
								Account name: ****************
							</li>
							<li class=" list-group-item">
								Account number: *************
							</li>
							<li class=" list-group-item">
								Bank: ****************
							</li>
						</ul>
					</p>
						</div>
					</div>
		
	</div>
{% endblock content %}
